@using PhanCongGiangDay.UtilityHelpers
@model int
@{
    ViewBag.Title = "CHI TIẾT CHƯƠNG TRÌNH ĐÀO TẠO";
}
@Html.Hidden("role",AccountUtils.CurrentUserLv())
@Html.Hidden("ChuongTrinhDaoTaoID", Model)
<h3 class="text-uppercase pt-3">CHƯƠNG TRÌNH ĐÀO TẠO CHU KỲ @ViewBag.TenCTDT</h3>
<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="search-box">
                    @Html.TextBox("HocPhanTheoCTDT-search", null, new { @class = "form-control", @maxlength = "20" })
                    <button type="button" class="search-button"><i class="material-icons">search</i></button>
                </div>
            </div>
            <div class="col-6 text-right">
                <a id="btnThemHocPhanTheoCTDT" href="#" class="btn btn-primary" data-trigger="modal" data-target="#modal" data-url="@Url.Action("ThemHocPhanTheoCTDT", "ChuongTrinhDaoTao", new { CTDTID=Model})">Thêm học phần vào CTĐT</a>
                <a id="btnImport" href="#" class="btn btn-primary" data-trigger="modal" data-target="#modal" data-url="@Url.Action("Import", "ChuongTrinhDaoTao", new { CTDTID=Model})">Import Excell</a>
            </div>
        </div>
        <div class="row">
            <div id="chi-tiet-chuong-trinh-dao-tao-container" style="width: 100%">
                <table class="table table-hover table-bordered table-custom pl-0 pr-0" cellspacing="0" id="chi-tiet-chuong-trinh-dao-tao-table" style="width: 100%">
                    <thead class="thead-default">
                        <tr>
                            <td>STT</td>
                            <td>Mã học phần</td>
                            <td>Tên học phần</td>
                            <td>Học kì</td>
                            <td style="min-width:140px; max-width:200px"></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/hocphantheoctdt")
    <script>
        $(function () {
            HocPhanTheoCTDTModule.timKiem();
        });
    </script>

}
