@model PhanCongGiangDay.Models.ViewModel.PhanCongGiangVien.PhanCongGiangVienViewModel


    <div class="modal-header">
        <h5 class="modal-title text-uppercase">Chi tiết phân công giảng viên</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <table style="width:100%">
                    <tr style="border-bottom: gray solid 1px;font-size:14pt">
                        <td width="82%" class="text-center font-weight-bold">
                            Nhóm lớp
                        </td>
                        @if (Model.LoaiGV == 2.ToString())
                        {
                            <td width="18%" class="text-center font-weight-bold" style="border-left: gray solid 1px">
                                Công tác khác
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <table border="1" class="table-form" style="width:100%;">
                                <thead>
                                    <tr class="font-weight-bold">
                                        <td  width="44%">Học phần</td>
                                        <td  width="14%">HK1 LT</td>
                                        <td  width="14%">HK1 TH</td>
                                        <td  width="14%">HK2 LT</td>
                                        <td  width="14%">HK2 TH</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.NhomLopPhanCong.Any())
                                    {
                                        foreach (var item in Model.NhomLopPhanCong)
                                        {
                                            <tr class="nhomlop-row">
                                                <td>
                                                    @item.MaVaTenHP
                                                </td>
                                                <td>
                                                    @item.HK1LT
                                                </td>
                                                <td>
                                                    @item.HK1TH
                                                </td>
                                                <td>
                                                    @item.HK2LT
                                                </td>
                                                <td>
                                                    @item.HK2TH
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="text-center" colspan="5">Hiện tại chưa có dữ liệu.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                        @if (Model.LoaiGV == 2.ToString())
                        {
                            <td class="flex-wrap">
                                <p class="p-2 text-center">@(Model.CongTac=="" ? "Hiện tại chưa có dữ liệu." : Model.CongTac)</p>
                            </td>
                        }
                    </tr>
                </table>


            </div>
        </div>
        <div class="row pt-4 font-weight-bold">
            <div class="col-6">
                <span>Giảng viên: @Model.HoTenGV</span>
            </div>
            <div class="col-3">
                <span>Tổng số tiết giảng dạy: <span id="tongsotiet">@Model.TongSoTiet</span></span>
            </div>
            <div class="col-3">
                <span>Tổng số tiết thực tế: <span id="sotietthucte">@Model.SoTietThucTe</span></span>
            </div>
        </div>
    </div>


