@{
    int i = ViewBag.thutu;
}
<tr class="nhomlop-row" id="row_@i">
    <td valign="top" class="text-left">
        <input type="hidden" name="NhomLopPhanCong[@i].GiangVienLogID" value="@ViewBag.gvID" />
        @Html.DropDownList("NhomLopPhanCong[" + i + "].PhanCongNhomLopID", (SelectList)ViewBag.hocphanddl, "-- Chọn --", new { @class = "form-control nhomlopddl", id = "nhomlop_" + i })
        @Html.ValidationMessage("NhomLopPhanCong[" + i + "].PhanCongNhomLopID")
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].TenBoMon", "", new { @class = "form-control", @readonly = true })
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].SoTietLT", "", new { @class = "form-control", @readonly = true })
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].SoTietTH", "", new { @class = "form-control", @readonly = true })
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].SoLuongConLaiLT", "", new { @class = "form-control", @readonly = true })
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].SoLuongConLaiTH", "", new { @class = "form-control", @readonly = true })
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].HK1LT", "0", new { @class = "form-control lythuyet hk1lt", onkeypress = "validateUnsignedInt(event)" })
        @Html.ValidationMessage("NhomLopPhanCong[" + i + "].HK1LT")
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].HK1TH", "0", new { @class = "form-control thuchanh hk1th", onkeypress = "validateUnsignedInt(event)" })
        @Html.ValidationMessage("NhomLopPhanCong[" + i + "].HK1TH")
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].HK2LT", "0", new { @class = "form-control lythuyet hk2lt", onkeypress = "validateUnsignedInt(event)" })
        @Html.ValidationMessage("NhomLopPhanCong[" + i + "].HK2LT")
    </td>
    <td valign="top">
        @Html.TextBox("NhomLopPhanCong[" + i + "].HK2TH", "0", new { @class = "form-control thuchanh hk2th", onkeypress = "validateUnsignedInt(event)" })
        @Html.ValidationMessage("NhomLopPhanCong[" + i + "].HK2TH")
    </td>
    <td valign="top" style="font-size:18pt">
        <i id="tnl_@i" class="fa fa-plus-circle button-edit-nl-partial" aria-hidden="true"></i>
        <i id="xnl_@i" class="fa fa-minus-circle button-edit-nl-partial d-none" aria-hidden="true"></i>
        <input type="hidden" name="NhomLopPhanCong[@i].TrangThai" id="trangthainhomlop_@i" value="2" />
        <input type="hidden" class="sotietSum" name="NhomLopPhanCong[@i].SoTiet" id="NhomLopPhanCongSoTiet_@i" value="0" />

    </td>
</tr>
<script>
    $(function () {
        CapNhatPhanCongGiangVienModule.disableOptionnew(@i);
        CapNhatPhanCongGiangVienModule.AddRowNhomLopPartial();
    });
    $(document).ready(function () {
        $('.nhomlopddl').select2();
    });
</script>