@{
    int i = ViewBag.thutu;
}
<div class="row row-gv" id="gv_@i">
    <div class="col-3">
        @Html.DropDownList("GiangVienPhanCong[" + i + "].GiangVienLogID", (SelectList)ViewBag.giangvienddl, "-- Chọn --", new { @class = "form-control gvddl", id = "giangvien_"+i })
        @Html.ValidationMessage("GiangVienPhanCong[" + i + "].GiangVienLogID")
    </div>
    <div class="col-2">
        @Html.TextBox("GiangVienPhanCong[" + i + "].HK1LT", "0", new { @class = "form-control lythuyet hk1lt", onkeypress = "validateUnsignedInt(event)" })
        @Html.ValidationMessage("GiangVienPhanCong[" + i + "].HK1LT")
    </div>
    <div class="col-2">
        @Html.TextBox("GiangVienPhanCong[" + i + "].HK1TH", "0", new { @class = "form-control thuchanh hk1th", onkeypress = "validateUnsignedInt(event)" })
        @Html.ValidationMessage("GiangVienPhanCong[" + i + "].HK1TH")
    </div>
    <div class="col-2">
        @Html.TextBox("GiangVienPhanCong[" + i + "].HK2LT", "0", new { @class = "form-control lythuyet hk2lt", onkeypress = "validateUnsignedInt(event)" })
        @Html.ValidationMessage("GiangVienPhanCong[" + i + "].HK2LT")
    </div>
    <div class="col-2">
        @Html.TextBox("GiangVienPhanCong[" + i + "].HK2TH", "0", new { @class = "form-control thuchanh hk2th", onkeypress = "validateUnsignedInt(event)" })
        @Html.ValidationMessage("GiangVienPhanCong[" + i + "].HK2TH")
    </div>
    <div class="col-1 text-center" style="font-size:18pt">
        <i id="tgv_@i" class="fa fa-plus-circle button-edit-gv-partial" aria-hidden="true"></i>
        <i id="xgv_@i" class="fa fa-minus-circle button-edit-gv-partial d-none" aria-hidden="true"></i>
        <input type="hidden" name="GiangVienPhanCong[@i].TrangThai" id="trangthaigv_@i" value="2" />
        <input type="hidden" class="sotietSum" name="GiangVienPhanCong[@i].SoTiet" id="GiangVienPhanCongSoTiet_@i" value="0" />
    </div>
</div>
<script>
    $(function () {
        CapNhatPhanCongGiangVienNhomLopModule.AddRowGiangVienPartial();
    });
    $(document).ready(function () {
        $('.gvddl').select2();
    });
</script>