@{
    ViewBag.Title = "TRANG CHỦ";
}
<div id="main-content">
    <div class="container-fluid">
        <div class="panel-primary">
            <div class="panel-heading">
                Quản lý phân công
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-12">
                        <div class="box_home_app card-hover" title="Phân công nhóm lớp">
                            <a href="@Url.Action("Index","PhanCongNhomLop")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-course-assign-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Phân công nhóm lớp
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Phân công giảng viên">
                            <a href="@Url.Action("Index","PhanCongGiangVien")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-batch-assign-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Phân công giảng viên
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Xuất file excel">
                            <a href="@Url.Action("Index","XuatExcel")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-microsoft-excel-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Xuất file excel
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-primary">
            <div class="panel-heading">
                Quản lý dữ liệu
            </div>
            <div class="panel-body col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="box_home_app card-hover" title="Giảng viên">
                            <a href="@Url.Action("Index","GiangVien")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-training-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Giảng viên
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Học phần">
                            <a href="@Url.Action("Index","HocPhan")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-course-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Học phần
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Đơn vị">
                            <a href="@Url.Action("Index","DonVi")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-library-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Khoa - Đơn vị
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Bộ môn">
                            <a href="@Url.Action("Index","BoMon")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-school-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Bộ môn
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Chương trình đào tạo">
                            <a href="#">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-diploma-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Chương trình đào tạo
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Năm học">
                            <a href="@Url.Action("Index","NamHoc")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-calendar-31-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Năm học
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Khoá">
                            <a href="@Url.Action("Index","Khoa")">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-graduation-cap-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Khoá
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Lớp">
                            <a href="#">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-classroom-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Lớp
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Công tác khác">
                            <a href="#">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-test-results-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Công tác khác
                                </div>
                            </a>
                        </div>
                        <div class="box_home_app card-hover" title="Tài khoản">
                            <a href="#">
                                <div class="box_home_app_body">
                                    <img src="~/Content/Images/icon/icons8-guardian-filled-50.png" />
                                </div>
                                <div class="box_home_app_header">
                                    Tài khoản
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
