@model Lib.PhanCongNhomLop.Model.PhanCongNhomLopModel

@Html.DropDownList("sotietltddl", (SelectList)ViewBag.hocphanlt, null, new { @class = "d-none" })
@Html.DropDownList("sotietthddl", (SelectList)ViewBag.hocphanth, null, new { @class = "d-none" })
@Html.DropDownList("sotinchiddl", (SelectList)ViewBag.hocphantc, null, new { @class = "d-none" })
@Html.DropDownList("sotietddl", (SelectList)ViewBag.hocphanst, null, new { @class = "d-none" })
@Html.DropDownList("bomonddl", (SelectList)ViewBag.bomont, null, new { @class = "d-none" })
@using (Html.BeginForm("SuaPhanCongNhomLop", "PhanCongNhomLop", FormMethod.Post, new { id = "formSuaPhanCongNhomLop" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.PhanCongNhomLopID)
    @Html.HiddenFor(x => x.BangPhanCongID)
    @Html.HiddenFor(x => x.KhoaID)
    <div class="modal-header">
        <h5 class="modal-title text-uppercase">Sửa phân công nhóm lớp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="font-weight-bold">Học phần</label><span class="input-required">*</span>
                    </div>
                    <div class="col-6">
                        @Html.DropDownListFor(x => x.HocPhanLogID, (SelectList)ViewBag.hocphanddl, "-- Chọn --", new { @class = "form-control hocphansl2s" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.HocPhanLogID)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="font-weight-bold">Bộ môn</label>
                    </div>
                    <div class="col-6">
                        @Html.TextBox("BoMon", null, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="font-weight-bold">Số tín chỉ</label>
                    </div>
                    <div class="col-6">
                        @Html.TextBox("SoTinChi", null, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="font-weight-bold">Số tiết HP</label>
                    </div>
                    <div class="col-6">
                        @Html.TextBox("SoTiet", null, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="font-weight-bold">SLSV 1 lớp</label><span class="input-required">*</span>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.SLSVNhomLop, new { @class = "form-control", onkeypress = "validateUnsignedInt(event)", max = "100" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.SLSVNhomLop)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="font-weight-bold">SL nhóm lớp LT</label><span class="input-required">*</span>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.SoLuongNhomLopLT, new { @class = "form-control", onkeypress = "validateUnsignedInt(event)", max = "100" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.SoLuongNhomLopLT)</small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="font-weight-bold">SL nhóm lớp TH</label><span class="input-required">*</span>
                    </div>
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.SoLuongNhomLopTH, new { @class = "form-control", onkeypress = "validateUnsignedInt(event)", max = "100" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.SoLuongNhomLopTH)</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @ViewBag.sv
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default text-uppercase pull-left" data-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-danger text-uppercase pull-right" id="btn_suaPhanCongNhomLop">Lưu</button>
    </div>
}
<script>
    $(function () {
        SuaPhanCongNhomLopModule.init();
    });
</script>

