@model Lib.PhanCongNhomLop.Model.PhanCongNhomLopModel

@Html.DropDownList("sotietltddl", (SelectList)ViewBag.hocphanlt, null, new { @class = "d-none" })
@Html.DropDownList("sotietthddl", (SelectList)ViewBag.hocphanth, null, new { @class = "d-none" })


<div class="col-12 p-3" id="Them_panel" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.5rem;margin:auto">
    @using (Html.BeginForm("ThemPhanCongNhomLop", "PhanCongNhomLop", FormMethod.Post, new { id = "formThemPhanCongNhomLop" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="col-3">
                        <label class="font-weight-bold">Học phần</label><span class="input-required">*</span>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(x => x.HocPhanLogID, (SelectList)ViewBag.hocphanddl, "-- Chọn --", new { @class = "form-control" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.HocPhanLogID)</small>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-4">
                        <label class="font-weight-bold">Số lượng nhóm lớp</label><span class="input-required">*</span>
                    </div>
                    <div class="col-8">
                        @Html.TextBoxFor(x => x.SoLuongNhomLop, new { @class = "form-control", type = "number", max = "50" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.SoLuongNhomLop)</small>
                    </div>
                </div>
                <input type="hidden" id="conlaiLT" name="SoLuongConLaiLT" value="0" />
                <input type="hidden" id="conlaiTH" name="SoLuongConLaiTH" value="0" />
                <input type="hidden" name="BangPhanCongID" value="@ViewBag.bangpcIDvb" />
                <input type="hidden" name="KhoaID" value="@ViewBag.khoaidvb" />
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-12">
                <button type="button" class="btn btn-default text-uppercase pull-left" id="btn_hide">Đóng</button>
                <button type="button" class="btn btn-danger text-uppercase pull-right" id="btn_themPhanCongNhomLop">Thêm</button>
            </div>
        </div>
    }
</div>


<script>
    $(function () {
        ThemPhanCongNhomLopModule.init();
    });
</script>
