@model Lib.PhanCongNhomLop.Model.PhanCongNhomLopModel

@Html.DropDownList("tsotietltddl", (SelectList)ViewBag.hocphanlt, null, new { @class = "d-none" })
@Html.DropDownList("tsotietthddl", (SelectList)ViewBag.hocphanth, null, new { @class = "d-none" })
@Html.DropDownList("tsotinchiddl", (SelectList)ViewBag.hocphantc, null, new { @class = "d-none" })
@Html.DropDownList("tsotietddl", (SelectList)ViewBag.hocphanst, null, new { @class = "d-none" })


<div class="col-12 p-3" id="Them_panel" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.5rem;margin:auto">
    @using (Html.BeginForm("ThemPhanCongNhomLop", "PhanCongNhomLop", FormMethod.Post, new { id = "formThemPhanCongNhomLop" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <divc></divc>
                    <div class="col-12">
                        <label class="font-weight-bold">Học phần</label><span class="input-required">*</span>
                    </div>
                    <div class="col-12">
                        @Html.DropDownListFor(x => x.HocPhanLogID, (SelectList)ViewBag.hocphanddl, "-- Chọn --", new { @class = "form-control", id = "tHocPhanLogID" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.HocPhanLogID)</small>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="col-12">
                    <label class="font-weight-bold">Số tín chỉ</label>
                </div>
                <div class="col-12">
                    @Html.TextBox("tSoTinChi", null, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="col-2">
                <div class="col-12">
                    <label class="font-weight-bold">Số tiết HP</label>
                </div>
                <div class="col-12">
                    @Html.TextBox("tSoTiet", null, new { @class = "form-control", @readonly = true })
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <label class="font-weight-bold">Số lượng nhóm lớp</label><span class="input-required">*</span>
                    </div>
                    <div class="col-12">
                        @Html.TextBoxFor(x => x.SoLuongNhomLop, new { @class = "form-control", type = "number", max = "50", id = "tSoLuongNhomLop" })
                        <small class="form-text text-danger">@Html.ValidationMessageFor(x => x.SoLuongNhomLop)</small>
                    </div>
                </div>
                <input type="hidden" id="tconlaiLT" name="SoLuongConLaiLT" value="0" />
                <input type="hidden" id="tconlaiTH" name="SoLuongConLaiTH" value="0" />
                <input type="hidden" name="BangPhanCongID" value="@ViewBag.bangpcIDvb" />
                <input type="hidden" name="KhoaID" value="@ViewBag.khoaidvb" />
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-12">
                <button type="button" class="btn btn-default text-uppercase pull-left" id="btn_hide">Đóng</button>
                <button type="button" class="btn btn-danger text-uppercase pull-right" id="btn_themPhanCongNhomLop">Thêm</button>
            </div>
        </div>
    }
</div>


<script>
    $(function () {
        ThemPhanCongNhomLopModule.init();
    });
</script>
