@model List<Lib.PhanCongNhomLop.Model.PhanCongNhomLopModel>
@{
    ViewBag.Title = "PHÂN CÔNG NHÓM LỚP - PHÂN CÔNG";
}
<input type="hidden" id="bangpc" value="@ViewBag.namhocID" />
<input type="hidden" id="khoaid" value="@ViewBag.khoaID" />
<h3 class="text-uppercase pt-3">PHÂN CÔNG NHÓM LỚP > <a style="color: #1565c0" href="@Url.Action("Index","PhanCongNhomLop")">NĂM HỌC @ViewBag.namhoc</a> > <a style="color: #1565c0" href="@Url.Action("Khoa","PhanCongNhomLop",new { NamHoc=ViewBag.namhocID})">KHOÁ @ViewBag.khoa</a></h3>
<div id="main-content">
    <div class="container-fluid">
        <div class="row pl-3 pr-3" id="panelThemPCNL">

        </div>
        <div class="row">
            <div class="col-9">
                <div class="search-box">
                    @Html.TextBox("PhanCongNhomLop-search", null, new { @class = "form-control", @maxlength = "20" })
                    <button type="button" class="search-button"><i class="material-icons">search</i></button>
                </div>
            </div>
            <div class="col-3 text-right">
                <a id="btnThemPhanCongNhomLop" href="#" class="btn btn-primary"><i class="fa fa-plus btn-icon-word-size"></i>Thêm phân công nhóm lớp</a>
            </div>
        </div>
        <div class="row">
            <div id="PhanCongNhomLop-container" style="width: 100%">
                <table class="table table-hover table-bordered table-custom pl-0 pr-0" cellspacing="0" id="phanCongNhomLop-table" style="width: 100%">
                    <thead class="thead-default">
                        <tr>
                            <td>STT</td>
                            <td>Mã học phần</td>
                            <td>Tên học phần</td>
                            <td>Số lượng nhóm lớp LT</td>
                            <td>Số lượng nhóm lớp TH</td>
                            <td>LT còn lại</td>
                            <td>TH còn lại</td>
                            <td style="min-width:100px; max-width:200px"></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/pcnl")
    <script>
        $(function () {
            PhanCongNhomLopModule.timKiem();
        });
    </script>

}


